.bg {
    margin-top: 2.188rem;
    background: var(--red-gradient);
    padding-bottom: 3.125rem;
    transition: 0.5s;

    & h3 {
        padding-top: 5rem;
        text-align: center;
        font-size: 1.75rem;
        font-family: "Bold";
        color: var(--color-white);
    }

    @media screen and (min-width: 50rem) {
        & h3 {
            font-size: 2.188rem;
        }
    }

    & ul {
        justify-content: center;
        align-items: center;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    & a {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    & a:nth-of-type(5) {
        display: none;
    }

    & img {
        width: 6.25rem;
        border-radius: 15px;
    }

    @media screen and (min-width: 50rem) {
        & img {
            width: 7.5rem;
        }
    }

    & span {
        font-size: 1.125rem;
        font-family: "Bold";
        margin-top: 5px;
        color: var(--color-white);
    }

    @media screen and (min-width: 50rem) {
        & span {
            font-size: 1.25rem;
        }
    }

    & > div {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
    }

    & .checkbox {
        width: 13.75rem;
        height: 3.75rem;
        background-color: var(--color-black);
        border-radius: 1.875rem;
        position: relative;
        color: var(--color-white);
        overflow: hidden;
        margin-bottom: 3.125rem;
    }

    & #checkbox_toggle {
        display: none;
    }

    & .checkbox .toggle {
        width: 6.25rem;
        height: 3.125rem;
        position: absolute;
        border-radius: 1.875rem;
        left: 5px;
        cursor: pointer;
        background: var(--red-gradient);
        transition: 0.4s;
    }

    & .checkbox .slide {
        width: 14.375rem;
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }

    & .checkbox .slide .text {
        font-size: 1rem;
        font-family: "Bold";
        z-index: 100;
        cursor: pointer;
    }

    & .check:checked + .checkbox .slide .toggle {
        transform: translateX(7.063rem);
        background: var(--blue-gradient);
    }
}

@media screen and (min-width: 40.625rem) {
    .bg {
        padding: 0 2rem 0 2rem;
    }
}

@media screen and (min-width: 75rem) {
    .bg {
        padding: 0 11.25rem 0 11.25rem;
    }
}

.bg2 {
    background: var(--blue-gradient);
}

.bg #blur.active {
    filter: blur(1.25rem);
    pointer-events: none;
    user-select: none;
}

#popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    border-radius: 15px;
    transform: translate(-50% -50%);
    width: 100%;
    padding: 3.125rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    font-family: "Bold";
    z-index: 1;

    & p {
        margin-top: 1.25rem;
    }

    & a {
        text-decoration: none;
        color: var(--color-black);
    }
}

#popup.active {
    top: 30%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
