@font-face {
    font-family: "Bold";
    font-style: normal;
    src: url(../fonts/PPFormula-SemiExtendedBold.otf);
}

@font-face {
    font-family: "Medium";
    font-style: normal;
    src: url(../fonts/PPFormula-SemiCondensedMedium.otf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-anthracite: #2d2d2d;
    --primary-gradient: linear-gradient(
        113deg,
        rgba(254, 115, 1, 1) 0%,
        rgba(255, 23, 32, 1) 100%
    );
    --red-gradient: linear-gradient(
        180deg,
        rgba(62, 0, 0, 1) 0%,
        rgba(255, 23, 32, 1) 100%
    );
    --blue-gradient: linear-gradient(
        180deg,
        rgba(5, 39, 71, 1) 0%,
        rgba(0, 174, 255, 1) 100%
    );
    --red-gradient2: linear-gradient(
        360deg,
        rgba(62, 0, 0, 1) 0%,
        rgba(255, 23, 32, 1) 100%
    );
    --blue-gradient2: linear-gradient(
        360deg,
        rgba(5, 39, 71, 1) 0%,
        rgba(0, 174, 255, 1) 100%
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
